<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234628205419-9db6eig0497kh6cr1pdoodv2ehuftutp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234628205419-9db6eig0497kh6cr1pdoodv2ehuftutp</string>
	<key>API_KEY</key>
	<string>AIzaSyCAJpPOGvIMC2IO8LXRjilOuHSBtCbzSEc</string>
	<key>GCM_SENDER_ID</key>
	<string>234628205419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kedc.KMMetal1</string>
	<key>PROJECT_ID</key>
	<string>none</string>
	<key>STORAGE_BUCKET</key>
	<string>none</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:234628205419:ios:76f742434a3576c9</string>
	<key>DATABASE_URL</key>
	<string>https://testfacialaging.firebaseio.com</string>
</dict>
</plist>
